<script>
  window.gameName = "<%= @name %>";
</script>

<div class="row">
  <div class="column">
    <h2> Memory Game: <%= @name %> </h2>
    <div id="root">
      React loading...
    </div>
  </div>
</div>
