<div class="column">
  <%= form_for @conn, "/game", fn f-> %>
    <div class="row"> Name for game save: <%= text_input f, :name %></div>
    <div class="row"> <%= submit "Enter" %> </div>
    <% end %>
</div>
